@model TwitterSystem.Web.ViewModels.User.UserHomeViewModel

@{
    ViewBag.Title = "Hi " + this.User.GetUsername();
}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Latest tweets</h3>
        <div id="tweets">
            @Html.DisplayFor(m => m.Tweets)
            @Html.DisplayFor(m => m.PaginationModel)
        </div>
    </div>
</div>

